/* General styles for the accordion */
.accordion {
    border: 1px solid #333;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    overflow: hidden;
    background: #222;
}

/* Accordion item styles */
.accordion-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Accordion header styles */
.accordion-header {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: rgba(129, 205, 255, 0.2);
}

/* Button styles for accordion */
.accordion-button {
    background: black;
    border: none;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    width: 100%;
}

/* Panel styles */
.accordion-panel {
    padding: 20px;
    background-color: #000000;
    color: #e0e0e0;
}

/* Styling bullet points */
.accordion-panel ul {
    padding-left: 20px;
    list-style-type: disc;
}

.accordion-panel li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #e0e0e0;
}

/* Styling headers inside accordion panels */
.accordion-panel h1,
.accordion-panel h2,
.accordion-panel h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.accordion-panel h1 {
    font-size: 24px;
}

.accordion-panel h2 {
    font-size: 20px;
}

.accordion-panel h3 {
    font-size: 18px;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 25px;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination .pagination__link {
    padding: 10px 15px;
    border: 1px solid #05cafc;
    border-radius: 5px;
    color: #05cafc;
    text-decoration: none;
}

.pagination .pagination__link:hover {
    background-color: #05cafc;
    color: white;
}

.pagination .pagination__link--active {
    font-weight: bold;
    /* background-color: #05cafc; */
    color: white;
}

.pagination .pagination__link--disabled {
    color: #555;
    cursor: not-allowed;
}

/* Centering the main content */
.coursecontent {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
