/* General Styles */


.login-page {
  display: flex;
  height: 100%;
}

/* Left Panel */
.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-image: url('/courseforgelogin.png'); /* Replace with the actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.left-panel-branding {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-panel-logo {
  font-size: 30px;
}

.left-panel-title {
  font-size: 24px;
  font-weight: bold;
}

.left-panel-testimonial {
  color: rgba(255, 255, 255, 0.9); /* Slight transparency for readability */
  font-size: 14px;
  line-height: 1.6;
}

.left-panel-author {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

/* Right Panel */
.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #000;
}

.right-panel-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.right-panel-subtitle {
  color: #bbb;
  font-size: 14px;
  margin-bottom: 20px;
}

.right-panel-input {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

.right-panel-button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.right-panel-button:hover {
  background-color: #555;
}

.right-panel-divider {
  margin: 20px 0;
  font-size: 14px;
  color: #bbb;
  text-align: center;
}

.right-panel-github-button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel-github-button:hover {
  background-color: #222;
}

.right-panel-terms {
  margin-top: 20px;
  font-size: 12px;
  color: #555;
  text-align: center;
}

.right-panel-terms a {
  color: #888;
  text-decoration: none;
}

.right-panel-terms a:hover {
  color: #fff;
  text-decoration: underline;
}

.right-panel-success-message {
  color: green;
  font-size: 14px;
  margin-bottom: 20px;
}

.right-panel-error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}
