h2 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
    margin: 20px 0;
  }
  
 
  
  input {
    width: 300px;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
  
  .loginbutton {
    width: 250px;
    padding: 10px;
    margin: 10px auto;
    display: block;
    
    color: white;
    border: none;
    cursor: pointer;
  }
  
 .logincontent{
    margin-top: 15%;
 }