.sidebar-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 1s ease;
  z-index: 1030;
  width: 60px;
  background-color: #000000;
  cursor: url('../Pages/hammer_white_left_resized.png'), auto;
}

.app.clicked .sidebar-container,
.app.clicked .burger-menu,
.app.clicked .menu-item {
  cursor: url('../Pages/hammer_white_left_tilted.png'), auto;
}

.sidebar-header,
.menu-item,
.burger-menu,
.plus-button,
.profile {
  cursor: inherit;
}

.burger-menu:hover,
.menu-item:hover,
.plus-button:hover,
.profile:hover {
  cursor: url('../Pages/hammer_white_left_resized.png'), auto;
}

.sidebar-container.open {
  width: 250px;
}

.burger-menu {
  font-size: 30px;
  padding: 10px;
  color: white;
  background: none;
  border: none;
  margin: 10px;
}

.plus-button {
  font-size: 30px;
  padding: 10px;
  color: white;
  background-color: transparent;
  border: none;
  margin: 10px;
  position: absolute;
  top: 50px;
  left: 4.7px;
  padding-top: 4px;
  padding-bottom: 3.5px;
  border-radius: 50%;
}

.sidebar {
  position: sticky;
  height: 100vh;
  width: 250px;
  color: white;
  top: 0;
  left: -250px;
  transition: left 1s ease;
  background-color: #000000;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.close-menu {
  font-size: 30px;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  position: sticky;
  top: 10px;
  right: 10px;
  height: 100vh;
}

.menu {
  margin-top: 100px;
}

.menu-item {
  padding: 15px;
  text-decoration: none;
  color: white;
  display: block;
  position: relative;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #fff;
}

.menu-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.menu-item:hover::after {
  width: 100%;
}

.profile {
  color: white;
  background-color: #333;
  position: relative; /* You can use 'relative' to adjust its position */
  bottom: 15px; /* Moves the button 40px up */
  margin-left: 10%;
  width: 80%;
  text-align: center;
  padding: 10px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile:hover {
  background-color: #444;
  color: #f0f0f0;
}


.profile-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  display: block;
  padding: 0px 0;
}

.collapsed-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.collapsed-profile img {
  width: 40px;
  height: 40px;
}

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  background-color: transparent;
  position: relative;
  cursor: url('../Pages/hammer_white_left_resized.png'), auto;
}

.app.clicked {
  cursor: url('../Pages/hammer_white_left_tilted.png'), auto;
}
