/* Basic styling for sidebar container */
.sidebar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60px; /* Default collapsed width */
  height: 100%;
  background-color: #181616;
 
  font-weight: bold;
  transition: width 0.3s ease;
}

.sidebar-container.open {
  width: 250px; /* Sidebar width when open */
}

.burger-menu {
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.close-menu {
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  visibility: hidden;
}

.sidebar.open {
  visibility: visible;
}

/* Menu items styling */
.menu {
  margin-top: 60px;
}

.menu-item {
  padding: 10px;
  color: rgb(212, 212, 212);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item:hover {
  color: aliceblue;
}

/* Profile styling when sidebar is open */
.profile {
  margin-top: auto;
  color: white;
}

.collapsed-profile {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.plus-button {
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}

/* Transitions */
.sidebar {
  transition: all 0.3s ease;
}

