.chat-message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
}

.chat-message.user {
  background-color: #007bff;
  color: rgba(255, 255, 255, 0);
  align-self: flex-end;
}

.chat-message.bot {
  background-color: #00000000;
  color: rgb(255, 255, 255);
  align-self: flex-start;
}
