/* src/index.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* App styling for the hammer cursor */
.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  background-color: transparent;
  position: relative;
  cursor: url('../src/Pages/hammer_black_left_tilted.png'), auto; /* Hammer cursor on click */
}

.app.clicked {
  cursor: url('../src/Pages/hammer_black_left_tilted.png'), auto; /* Hammer cursor on click */
}
