/* src/App.css */

.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flexbox;
  height: 100vh; /* Ensure it takes up the full viewport height */
  background-color: rgb(255, 255, 255, 0);
  position: relative;
  z-index: ;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 60px; /* Space for collapsed sidebar */
  transition: padding-left 0.3s ease; /* Smooth transition for sidebar expansion */
  color: #000000;
}

.content.open {
  padding-left: 250px; /* Space for expanded sidebar */
}
/* App.css */

.app-container {
  position: relative; /* This will allow children to be positioned relative to it */
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  
}

.content-container {
  position: absolute; /* This makes the content overlap */
  top: -20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 1; /* Higher than navbar if you want content on top */
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; /* Ensures Navbar stays on top */
}
